@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";


@keyframes blink {
  0%, 49% { 
    opacity: 1; 
  }
  50%, 100% { 
    opacity: 0; 
  }
}
.animate-blink {
  animation: blink 1s infinite;
}

@theme {
  /*font*/
  --font-roboto-mono: "Roboto Mono", "monospace";
  /*Color Palette */
  --color-rosewater: #f5e0dc;
  --color-flamingo: #f2cdcd;
  --color-pink: #f5c2e7;
  --color-mauve: #cba6f7;
  --color-red: #f38ba8;
  --color-maroon: #eba0ac;
  --color-peach: #fab387;
  --color-yellow: #f9e2af;
  --color-green: #a6e3a1;
  --color-teal: #94e2d5;
  --color-sky: #89dceb;
  --color-sapphire: #74c7ec;
  --color-blue: #89b4fa;
  --color-lavender: #b4befe;
  
  /* Text */
  --color-text: #cdd6f4;
  --color-subtext1: #bac2de;
  --color-subtext0: #a6adc8;
  
  /* Overlays */
  --color-overlay2: #9399b2;
  --color-overlay1: #7f849c;
  --color-overlay0: #6c7086;
  
  /* Surfaces */
  --color-surface2: #585b70;
  --color-surface1: #45475a;
  --color-surface0: #313244;
  
  /* Base */
  --color-base: #1e1e2e;
  --color-mantle: #181825;
  --color-crust: #11111b;
}




